@font-face {
    font-family: "Lora-Bold";
    src: url('../fonts/Lora/static/Lora-Bold.ttf');
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf');
}
@font-face {
    font-family: "OpenSans-light";
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf');
}
*{
    font-family: "OpenSans-Bold";
    
}
/* Custom Utilities  */
:root{
    --first-color:#f6520b;
    --second-color:#000000;
    --third-color:#ffffff;
    --fourth-color:#ced4da;
    
}


body{
    background-color: var(--third-color);
    /* background: linear-gradient(to left,var(--first-color),var(--second-color)); */
    overflow-x: hidden;
}