@font-face {
    font-family: "Lora-Bold";
    src: url('../fonts/Lora/static/Lora-Bold.ttf');
}
@font-face {
    font-family: "Lora-light";
    src: url('../fonts/Lora/static/Lora-Regular.ttf');
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf');
}
@font-face {
    font-family: "OpenSans-light";
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf');
}
*{
    font-family: "OpenSans-Bold";
    
}
/* Custom Utilities  */
:root{
    --first-color:#f6520b;
    --second-color:#000000;
    --third-color:#ffffff;
    --fourth-color:#ced4da;
    --fifth-color:#ffc107;
    
}


body{
    background-color: #f1f5f9;
    /* background: linear-gradient(to left,var(--first-color),var(--second-color)); */
    /* overflow-x: hidden; */
}

#courses-icons .icons{
    color:var(--first-color);
}

#courses .icons,
#founder .icons,
#why-choose-us .icons,
#quick-answer .icons,
#testimonial .icons,
#contact .icon
{
    width: 70px;
    position: relative;

}


#courses .arrow-line,
#founder .arrow-line,
#why-choose-us .arrow-line,
#quick-answer .arrow-line,
#testimonial .arrow-line,
#contact .arrow-line
{
    width: 60px;
    height: 2px;
    background-color: var(--first-color);
    position: absolute;
    top: 3px;
}

#courses .arrow-icon,
#founder .arrow-icon,
#why-choose-us .arrow-icon,
#quick-answer .arrow-icon,
#testimonial .arrow-icon,
#contact .arrow-icon
{
    width: 5.5px;
    height: 5.5px;
    background-color: var(--first-color);
    transform: rotate(50deg);
    position: absolute;
    top: 1.5px;
    left: 60px;
}

#about .icons{
    width: 70px;
    position: relative;
}
#about .arrow-line{
    width: 60px;
    height: 2px;
    background-color: var(--first-color);
    position: absolute;
    top: -2px;
}
#about .arrow-icon{
    width: 5.5px;
    height: 5.5px;
    background-color: var(--first-color);
    transform: rotate(50deg);
    position: absolute;
    top: -3px;
    left: 60px;
}

/* Up Arrow Section  */
.up-arrow{
    display: block;
    background-color: var(--second-color);
    color: var(--third-color);
    width: 40px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 4px;
    position: fixed;
    bottom:10px;
    right: 10px;

}
.up-arrow:hover{
    color: var(--first-color);
}