/* Custom Utilities */
.bgColor{
    background: linear-gradient(to left,var(--first-color),var(--fourth-color)); 
}
.header{
    font-family: "Lora-Bold";
}
.subHeader{
    font-family: "OpenSans-Bold";
}
.color{
    color:var(--first-color);
}




/* Navbar section  */

.navbar{
    background-color: var(--first-color);
}

.navbar-brand{
    position: relative;
}
#navbar .logo-name-div{
    position: absolute;
    top: 10px;
    left: 140px;
}
#navbar .logo-text1{
  letter-spacing: 6px;
}

#navbar .logo-text2{
  font-size: 12px;
}

/* Hero Section  */
#header .header-wrapper{
    height: 100vh;
    position: relative;
    background-color: #f1f5f9;
}

/* Hero  Button Section  */
#header .button {
    padding: 10px;
    border-radius: 1px;
    border: 2px solid var(--first-color);
    color: var(--first-color);
    text-decoration: none;
    position: relative;
  }
  #header .button::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: var(--third-color);
    transition: 0.5s ease-in-out 0.5s;
    transform: scaleY(1);
  }
  #header .button:hover::before {
    transform: scaleY(0);
    /* color: var(--third-color); */
  }
  #header .button::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    width: calc(100% - 12px);
    height: calc(100% + 4px);
    background-color: var(--third-color);
    transition: 0.5s ease-in-out;
    transform: scaleX(1);
  }
  #header .button:hover::after {
    transform: scaleX(0);
  }
  #header .button span{
    position: relative;
    z-index: 3;
  }
/* End Hero Button Section  */

/* Wave section  */
.waves{
 position: relative;
 top: 0px;
}

 /* Header Icons  */
#courses-icons{
  background-color: #f1f5f9;
}
 #courses-icons .icons{
    color:var(--first-color);
    
}

/* About Section  */
#about{
  background-color: #f1f5f9;
}
#about .about-header{
    font-size: 3rem;
}
#about .about-text-number{
    color: var(--first-color);
    font-size: 3rem;
    text-align: center;
}
/* About Right Side */
/* #about .images {
  max-height: 400px;
  object-fit: contain;
  z-index: 3;
}
#about .back-img {
  position: relative;
  z-index: 1;
}

#about .back-img::before {
  content: "";
  width: 67%;
  height: 90%;
  background: url(../images/bg.png);
  position: absolute;
  bottom: 0px;
  left: 110px;
  overflow: hidden;
  z-index: -1;
}
#about .shape {
  position: absolute;
  width: 50%;
  left: 8rem;
  top: 30px;
  z-index: -1;
}
#about .shape1 {
  position: absolute;
  width: 50%;
  left: 11rem;
  top: 9rem;
  z-index: -1;
}
#about .shape2 {
  position: absolute;
  width: 50%;
  left: 12rem;
  top: 15em;
  z-index: -1;
}
#about .line {
  width: 50%;
  left: -1.2rem;
  top: 4rem;
  z-index: -1;
}
#about .square {
  position: absolute;
  bottom: 0;
} */

/* Courses Section  */
#courses{
  background-color: #f1f5f9;
}
#courses .courses-cards{
    background-color: var(--first-color);
    position: relative;
    height: 25rem ;
    overflow: hidden;
    
    
}
#courses .card:hover{
  opacity: 0.8;
}
#courses .courses-title{
    
    background-color: var(--first-color);
    color: white;
    position: absolute;
    top:10px;
    right: 10px;
    
}
#courses .courses-image-wrapper{
  width: 100%;
  height: 17rem;
  overflow: hidden;
}
#courses img{
    width: 100%;
    object-fit: cover;
    transition: 0.7s;
}
#courses .card-body h5{
  font-family: "OpenSans-bold";
  font-weight: 100px;
}
#courses .card-text{
    font-weight: bold;
    font-family: "OpenSans-light";
    font-size: 12px;
}
#courses .fee{
  font-family: 'OpenSans-light';
  font-weight: bold;
  font-size: 15px;
}
#courses .courses-cards:hover .courses-image1,
#courses .courses-cards:hover .courses-image2,
#courses .courses-cards:hover .courses-image3{
    transform: scale(1.2);
}

/* Who is founder Section  */
/* .founder-wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
}
.founder-imgbox{
  background: url(../images/founder.jpg);
  background-size: cover;
  background-position: center center;
  width: 300px;
  height: 300px;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s;
  

}
@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
} */

#founder{
  background-color: #f1f5f9;
}
#founder .social-icons{
  padding:10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease;
}
#founder .social-icon{
  padding:3px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
   
}
#founder .social-icons:hover{
  /* opacity: 0.7; */
  transform: translateY(-10px);
}
#founder .social-icon:hover{
  /* opacity: 0.7; */
  transform: translateY(-10px);
}

#founder .fa-facebook-f{
  background-color: #3B5998;
  color: #fff;
}
#founder .fa-youtube{
  background-color: #bb0000;
  color: white;
}


/* Media Query */
/* @media (max-width:600px)
{
  #header .wave-container{
    height:100vh ;
}
} */








  
  
  

