/* Custom Utilities */

.header {
  font-family: "Lora-Bold";
}
.header1 {
  font-family: "Lora-light";
}
.subHeader {
  font-family: "OpenSans-Bold";
}
.color {
  color: var(--first-color);
}

/* Navbar section  */

.navbar .logo-text1 {
  font-size: 18px;
  letter-spacing: 6px;
}

.navbar .logo-text2 {
  font-size: 11px;
}
.nav-item:hover .nav-link {
  color: var(--sixth-color);
}
.registerBtn {
  background-color: var(--sixth-color);
  color: white;
}
.registerBtn:hover {
  columns: black;
}
.registerBtn {
  padding: 10px;
  text-decoration: none;
}
/* *********************Announcement bar ********************** */
#announcement-bar {
  background-color: var(--fifth-color);
}
#announcement-bar .container {
  font-size: 0.8rem;
}

/* **********************Hero Section **************************** */
#header {
  min-height: 87vh;
  background-color: var(--fourth-color);
  position: relative;
  z-index: -2;
}

#header .getStartBtn {
  color: var(--second-color);
  background-color: var(--fifth-color);
}

#header .image-wrapper {
  width: 30%;
  height: 40%;
  /* height: 200px; */
  /* overflow: hidden; */
}

#header .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#header .shape1 {
  position: relative;
  /* z-index:1; */
}

#header .shape1::before {
  content: "";
  width: 50%;
  height: 45%;
  border-radius: 50%;
  background-color: #c2f6ff;
  position: absolute;
  bottom: -20px;
  left: -30px;
  z-index: -1;
}
#header .shape2 {
  position: relative;
}

#header .shape2::before {
  content: "";
  width: 80%;
  height: 70%;
  border-radius: 50%;
  background-color: #ffe79b;
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -1;
}
#header .shape2::after {
  content: "";
  width: 30%;
  height: 25%;
  border-radius: 50%;
  background-color: #eaeaea;
  position: absolute;
  top: 120px;
  right: -75px;
  z-index: -1;
}

#header .header-image1 {
  border-radius: 100% 0% 0% 100%;
  background-color: #b8dcff;
}

#header .header-image2 {
  background-color: #d98d8f;
}
#header .header-image3 {
  background-color: #ffdb26;
}
#header .header-image4 {
  border-radius: 0% 100% 100% 0%;
  background-color: #e3e9ef;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

#header .startBtn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(40, 144, 241);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(40, 144, 241);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  /* margin: 10px; */
}

#header .startBtn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

#header .startBtn:hover {
  color: #fff;
  border: 1px solid rgb(40, 144, 241);
}

#header .startBtn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(40, 144, 241);
}

/* *******************Header Courses Icons ******************* */
#header-course-icons {
  background-color: var(--sixth-color);
  /* min-height: 100px; */
}
#header-course-icons .container {
  width: 100%;
  height: auto;
}

/*********************** About Section ************************ */

#about .about-header {
  font-size: 3rem;
}
#about .about-text-number {
  color: var(--first-color);
  font-size: 3rem;
  text-align: center;
}
#about .num {
  color: #6366f1;
}

/* *************************Founder Section ************************* */
#founder .container {
  position: relative;
}

#founder .plus-shape {
  position: absolute;
  top: 10%;
  right: 30%;
}

#founder .line-shape {
  position: absolute;
  bottom: 140px;
  left: 30px;
  z-index: -1;
}
#founder .green-circle-shape1 {
  position: absolute;
  left: 50px;
  bottom: 30px;
}

#founder .yellow-cirlce-shape2 {
  position: absolute;
  top: 150px;
  left: 50px;
}
#founder .triangle-shape1 {
  position: absolute;
  right: 50px;
  bottom: 30px;
}

#founder .green-circle-shape2 {
  position: absolute;
  top: 100px;
  right: 30px;
}
#founder .blue-rectangle-shape1 {
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  transform: rotate(30deg);
  position: absolute;
  right: 50px;
  bottom: 100px;
  z-index: -1;
}

#founder .yellow-rectangle-shape1 {
  width: 20px;
  height: 20px;
  border: 2px solid #ffc107;
  transform: rotate(30deg);
  position: absolute;
  top: 50%;
  left: -5px;
}

#founder .founder-text-wrapper {
  position: relative;
}
#founder .quote-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#founder .yellow-cirlce-shape1 {
  position: absolute;
  left: 5%;
  bottom: -10%;
}

#founder .social-icons {
  padding: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease;
}
#founder .social-icon {
  padding: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
}
#founder .social-icons:hover {
  /* opacity: 0.7; */
  transform: translateY(-10px);
}
#founder .social-icon:hover {
  /* opacity: 0.7; */
  transform: translateY(-10px);
}

#founder .fa-facebook-f {
  background-color: #3b5998;
  color: #fff;
}
#founder .fa-youtube {
  background-color: #bb0000;
  color: white;
}
