/* Custom Utilities  */
h4 {
  color: var(--first-color);
}

/************************** WHY CHOOSE US **************************/
#why-choose-us .accordion-button::after {
  width: 0;
  height: 0;
  content: "";
  background-image: none;
}
#why-choose-us .accordion-button::before {
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 1rem;
  content: "";
  background-image: url(../images/mark.png);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
#why-choose-us .images {
  max-height: 400px;
  object-fit: contain;
  z-index: 3;
}
#why-choose-us .back-img {
  position: relative;
  z-index: 1;
}
#why-choose-us .back-img::before {
  content: "";
  /* width: 67%; */
  width: 70%;
  height: 90%;
  background: url(../images/bg.png);
  position: absolute;
  bottom: 0px;
  left: 90px;
  overflow: hidden;
  z-index: -1;
}
#why-choose-us .shape {
  position: absolute;
  width: 50%;
  left: 8rem;
  top: 30px;
  z-index: -1;
}
#why-choose-us .shape1 {
  position: absolute;
  width: 50%;
  left: 11rem;
  top: 9rem;
  z-index: -1;
}
#why-choose-us .shape2 {
  position: absolute;
  width: 50%;
  left: 12rem;
  top: 15em;
  z-index: -1;
}
#why-choose-us .line {
  position: absolute;
  top: 4rem;
  left: 5.6rem;
  z-index: -1;
}
#why-choose-us .square {
  position: absolute;
  bottom: 0;
  right: 5rem;
  z-index: -1;
}
#why-choose-us .accordion {
  --bs-accordion-border-color: none;
}
#why-choose-us .accordion-body {
  color: var(--fourth-color);
  font-family: "OpenSans-light";
  background-color: #fff;
  color: var(--second-color);
}
#why-choose-us .accordion-button {
  border: 1px solid var(--first-color);
  background-color: #fff;
}
#why-choose-us .accordion-button:not(.collapse) {
  background-color: none;
}
#why-choose-us .accordion-button:focus {
  border: 1px solid var(--first-color);
  box-shadow: none;
}
#why-choose-us .accordion-button:not(.collapsed) {
  background-color: #fff;
}
#why-choose-us .accordion-button::after {
  content: "";
  color: var(--first-color);
}
/*************************** Ab ***************************/
#about .about-header {
  font-size: 3rem;
}
#about .about-text-number {
  color: var(--first-color);
  font-size: 3rem;
  text-align: center;
}
#about .images {
  max-height: 400px;
  object-fit: contain;
  z-index: 3;
}
#about .back-img {
  position: relative;
  z-index: 1;
}

#about .back-img::before {
  content: "";
  width: 67%;
  height: 90%;
  background: url(../images/bg.png);
  position: absolute;
  bottom: 0px;
  left: 110px;
  overflow: hidden;
  z-index: -1;
}

#about .shape {
  position: absolute;
  width: 50%;
  left: 8rem;
  top: 30px;
  z-index: -1;
}
#about .shape1 {
  position: absolute;
  width: 50%;
  left: 11rem;
  top: 9rem;
  z-index: -1;
}
#about .shape2 {
  position: absolute;
  width: 50%;
  left: 12rem;
  top: 15em;
  z-index: -1;
}
#about .line {
  position: absolute;
  top: 4rem;
  left: 7rem;
  z-index: -1;
}
#about .square {
  position: absolute;
  bottom: 0;
  right: 5rem;
  z-index: -1;
}
/*************************** Quick Answer ***************************/
#quick-answer .accordion {
  --bs-accordion-border-color: none;
}
#quick-answer .accordion-body {
  color: var(--fourth-color);
  font-family: "OpenSans-light";
  background-color: #fff;
  color: var(--second-color);
}
#quick-answer .accordion-button {
  border: 1px solid var(--first-color);
}
#quick-answer .accordion-button:not(.collapse) {
  background-color: #fff;
}
#quick-answer .accordion-button:focus {
  border: 1px solid var(--first-color);
  box-shadow: none;
}
/* #quick-answer .accordion-button:not(.collapsed) {
  background-color: #f1f5f9;
} */
#quick-answer .accordion-button::after {
  content: "";
  color: var(--first-color);
}

/*************************** Testimonial Section ***************************/

#testimonial .card {
  max-width: 480px;
  margin: auto;
  background-color: #fff;
}
#testimonial p {
  font-family: "OpenSans-light";
}
#testimonial .client-msg {
  border-radius: 7px;
  text-align: left;
  position: relative;
  background-color: #6366f1;
}
#testimonial .client-data img {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  object-fit: cover;
  border: 5px solid #fff;
  position: relative;
  bottom: 10px;
  left: 0px;
}
#testimonial .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
  background-image: url(../images/chevron-left.svg);
}
#testimonial .carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  padding: 10px;
  border-radius: 50%;
  position: absolute;
}
#testimonial .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-image: url(../images/chevron-right.svg);
}
#testimonial .carousel-indicators button[type="button"] {
  width: 10px;
  height: 10px;
  margin: 40px 5px 0 5px;
  border-radius: 50%;
}
#testimonial .carousel-indicators .active {
  transform: scale(1.4);
  background-color: var(--first-color);
}
#testimonial .carousel-indicators [data-bs-target] {
  background-color: var(--first-color);
}
#testimonial .client-msg p::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  left: 8rem;
  bottom: -10px;
  transform: skewY(-35deg);
  background-color: #6366f1;
}
#testimonial .swiper-button-next,
#testimonial .swiper-button-prev {
  color: #00000080;
  position: absolute;
  top: 45%;
}
#testimonial .swiper-pagination {
  color: #00000080;
}
.swiper {
  width: 90%;
}
#testimonial .swiper-container {
  position: relative;
}
.button-box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.button-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
}
.swiper-button-next {
  position: absolute;
  right: 0;
}

/*************************** Contact Section ***************************/
#contact .sub-title {
  color: var(--first-color);
}
#contact .skills li {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
}
#contact .button {
  padding: 15px;
  border-radius: 6px;
  color: #fff;
  /* background-image: linear-gradient(to left, #6366f1, #c6c5c4c4, #6366f1); */
  background: #6366f1;
  text-decoration: none;
  background-size: 200%;
  transition: 0.6s;
  position: relative;
}
#contact .button:hover {
  background-position: right;
}
#contact .button span {
  position: relative;
  z-index: 3;
}
#contact form input {
  border: 0;
  border-radius: 0;
  padding-left: 0;
  font-weight: 500;
  border-bottom: 1px solid #6366f1;
  font-family: "OpenSans-light";
}
.form-control {
  background-color: #fff;
}
.form-control::placeholder {
  opacity: 0.6;
}
#contact form input:focus {
  box-shadow: none;
  background-color: #fff;
}
#contact .btn-danger {
  color: var(--third-color);
  background-color: #6366f1;
}
#contact .btn-outline-danger {
  --bs-btn-color: #6366f1;
  --bs-btn-border-color: #6366f1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6366f1;
  --bs-btn-hover-border-color: #6366f1;
  background-color: #6365f127;
}
#contact .btn-outline-danger:hover {
  color: var(--third-color);
  background-color: #6366f1;
}
#contact .btn-danger:hover {
  color: var(--third-color);
  background-color: #6365f1db;
}
#contact .address i {
  color: #6366f1;
}
#contact .address a {
  color: var(--second-color);
  font-weight: 500;
}
#contact .socials a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #00000080;
  transition: 0.5s;
}
#contact .socials a:hover {
  color: var(--third-color);
  background-color: #6366f1;
}

/*************************** FOOTER SECTION ***************************/
#footer {
  background-color: #ffcf3a;
  color: #000;
  margin-top: 90px;
  position: relative;
}
#footer img {
  width: 100px;
}
#footer ul li {
  padding: 5px 0;
}
#footer i {
  font-size: 15px;
}
#footer li a {
  color: #000;
  transition: 0.5s;
  font-family: "Lora-light";
}
#footer .cop {
  font-family: "Lora-light";
}
.footerwaves {
  position: relative;
  z-index: -1;
}
.footerwave {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.jpg);
  background-size: 2000px 100px;
}
.footerwave#footerwave1 {
  z-index: 1;
  opacity: 1;
  bottom: 0;
  animation: animatWave 8s linear infinite;
}
.footerwave#footerwave2 {
  z-index: 2;
  opacity: 0.7;
  bottom: 0;
  animation: animatWave-02 8s linear infinite;
}
.footerwave#footerwave3 {
  z-index: 3;
  opacity: 0.4;
  bottom: 15px;
  animation: animatWave-02 6s linear infinite;
}
.footerwave#footerwave4 {
  z-index: 4;
  opacity: 0.2;
  bottom: 20px;
  animation: animatWave-02 6s linear infinite;
}
@keyframes animatWave {
  0% {
    background-position-x: 2000px;
  }

  100% {
    background-position-x: 0px;
  }
}
@keyframes animatWave-02 {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 2000px;
  }
}

/* =============================== Courses Card In Main=================================== */
/* Courses Section  */

#course .courses-cards {
  background-color: #fff;
  /* box-shadow: 2px 2px 6px rgb(205, 205, 205); */
  overflow: hidden;
  transition: 0.4s;
}
#course .card:hover {
  /* opacity: 0.8; */
  background: rgba(0, 0, 0, 0.03);
}
#course .courses-image-wrapper {
  position: relative;
}
#course .starr {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#course .courses-title {
  background-color: var(--first-color);
  color: white;
}
#course .courses-image-wrapper {
  width: 100%;
  overflow: hidden;
}
#course img {
  width: 100%;
  object-fit: cover;
  transition: 0.7s;
}
#course .fon {
  font-family: "OpenSans-light";
}
#course span,
#course i {
  color: var(--first-color);
  font-family: "OpenSans-light";
}
#course .starr i {
  color: goldenrod;
  font-size: 13px;
}
#course .card-text,
#course .wrapper {
  font-size: 14px;
  font-family: "OpenSans-light";
}
#course .courses-cards:hover .courses-image1,
#course .courses-cards:hover .courses-image2,
#course .courses-cards:hover .courses-image3 {
  transform: scale(1.2);
}

/********************************* Courses  section  **************************/
#courses .course-outline-button {
  background-color: rgba(246, 82, 11, 0.1);
  box-shadow: 0px 2px 1px var(--first-color);
}
#courses .card-text {
  font-family: "OpenSans-light";
  font-weight: bold;
  font-size: 12px;
}
#courses .courses-enroll-button {
  background-color: rgba(246, 82, 11, 0.1);
  box-shadow: 0px 2px 1px var(--first-color);
  font-size: 20px;
}
.cap-text {
  width: 120px;
  height: 80px;
  font-size: 40px;
  background-color: var(--fourth-color);
  clip-path: inset(5% 20% 15% 10%);
  float: left;
  font-family: "OpenSans-light";
  font-weight: bold;
}
#courses .detail-text {
  font-family: "OpenSans-light";
  font-size: 14px;
  line-height: 30px;
}

/* Courses Sections  */

/* #courses-page .courses-cards {
  background-color: var(--first-color);
  position: relative;
  overflow: hidden;
}
#courses-page .courses-title {
  background-color: var(--first-color);
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}
#courses-page .courses-image-wrapper {
  width: 100%;
  overflow: hidden;
}
#courses-page img {
  width: 100%;
  object-fit: cover;
  transition: 0.7s;
}

#courses-page .card-body h5 {
  font-family: "OpenSans-bold";
  font-weight: 100px;
}
#courses-page .card-text {
  font-weight: bold;
  font-family: "OpenSans-light";
  font-size: 12px;
}
#courses-page .fee {
  font-family: "OpenSans-light";
  font-weight: bold;
  font-size: 15px;
}
#courses-page .courses-cards:hover .courses-image1,
#courses-page .courses-cards:hover .courses-image2,
#courses-page .courses-cards:hover .courses-image3 {
  transform: scale(1.2);
}
#courses-page .courses .card {
  transition: 0.3s;
}
#courses-page .courses .card:hover {
  background-color: #912b00ce;
  opacity: 0.9;
}

#courses-page .top-courses .card:hover {
  opacity: 0.8;
}
*/
#courses-page .category_link a {
  transition: 0.4s;
}
#courses-page .category_link:hover a {
  padding: 0 5px;
  background-color: #f1490773;
  border-radius: 4px;
}

#courses-page .courses-cards {
  background-color: #fff;
  /* box-shadow: 2px 2px 6px rgb(205, 205, 205); */
  overflow: hidden;
}
#courses-page .card:hover {
  opacity: 0.8;
}
#courses-page .courses-image-wrapper {
  position: relative;
}
#courses-page .starr {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#courses-page .courses-title {
  background-color: var(--first-color);
  color: white;
}
#courses-page .courses-image-wrapper {
  width: 100%;
  overflow: hidden;
}
#courses-page img {
  width: 100%;
  object-fit: cover;
  transition: 0.7s;
}
#courses-page span,
#courses-page i {
  color: var(--first-color);
  font-family: "OpenSans-light";
}
#courses-page .starr i {
  color: goldenrod;
  font-size: 13px;
}
#courses-page .fon {
  font-family: "OpenSans-light";
}
#courses-page .card-text,
#courses-page .wrapper {
  font-size: 14px;
  font-family: "OpenSans-light";
}
#courses-page .courses-cards:hover .courses-image1,
#courses-page .courses-cards:hover .courses-image2,
#courses-page .courses-cards:hover .courses-image3 {
  transform: scale(1.2);
}

/************************* Navbar Effect ***************************/
#navbar ul li a {
  padding: 8px 8px 0px 8px;
}
#navbar ul li a {
  color: var(--second-color);
  position: relative;
}
#navbar ul li a::before {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;

  width: 0px;
  height: 2px;
  background-color: #f14a07;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
#navbar ul li a::after {
  content: "";
  position: absolute;
  top: 110%;
  right: 0;

  width: 0px;
  height: 2px;
  background-color: var(--second-color);
  transition: 0.5s;
  mix-blend-mode: multiply;
}
#navbar ul li:hover a::before {
  width: 50%;
  transform: translateX(100%);
}
#navbar ul li:hover a::after {
  width: 50%;
  transform: translateX(-100%);
}

/* *************************************  COURSES DETAIL ******************************************* */
/* Hero Section */

#hero-section nav a {
  text-decoration: none;
  color: var(--fourth-color);
  font-weight: 700;
}
#hero-section .rating {
  color: var(--first-color);
}
#hero-section i {
  font-size: 12px;
}
#hero-section p {
  font-size: 14px;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: var(--third-color);
}
.btn-outline-danger {
  --bs-btn-color: var(--first-color);
  --bs-btn-border-color: var(--first-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--first-color);
  --bs-btn-hover-border-color: var(--first-color);
}
.btn {
  --bs-btn-bg: #ff652325;
  --bs-btn-border-width: 0px;
  --bs-btn-border-radius: 2px;
}

/* What you will learn */
.learn-detail {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  text-align: left;
  letter-spacing: normal;
  white-space: normal;
  padding: 4px 0;
}
.learn-detail span {
  font-size: 16px;
}

#invisible-text {
  display: none;
}
#invisible-text2 {
  display: none;
}
#main a,
.box a,
#instructor #button4 {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* Course Content */
#course-content .accordion {
  --bs-accordion-border-color: none;
}
#course-content .accordion-body {
  background-color: #fff;
  font-family: "OpenSans-light";
}
#course-content .accordion-button {
  border: 1px solid var(--first-color);
}
#course-content .accordion-button:not(.collapse) {
  background-color: #fff;
}
#course-content .accordion-button:focus {
  border: 1px solid var(--first-color);
  box-shadow: none;
}
#course-content .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: var(--second-color);
}
#course-content .accordion-button::after {
  content: "";
  color: var(--first-color);
}

/* Content Section */
#invisible-text3 {
  display: none;
}
#content-text {
  opacity: 0.2;
}

/* Instructor Section */
#instructor img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}
#invisible-text4 {
  display: none;
}
#instructor-text {
  opacity: 0.2;
}

/* Review Section */
#review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
#review i,
#hero-section i {
  color: var(--first-color);
}
#review .like,
#review .unlike {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 33px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
}

/* *************** CARD ******************* */
#cards {
  background-color: var(--third-color);
  position: relative;
}
#cards .btn {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  padding: 10px 0;
  border-radius: 0;
}
#cards .btn:hover {
  background-color: #9e9fa04f;
}
#cards .add-to-card-btn {
  color: var(--third-color);
  background-color: #6366f1;
}
#cards .add-to-card-btn:hover {
  background-color: #2e31e0da;
}
#cards p {
  font-size: 13px;
}
#cards ul li {
  margin: 5px 0;
}
#cards .same-font {
  font-size: 14px;
}
